.md-objects .md-object.md-layer-9-25-0 {
background: #000000;
 z-index: 996 !important;}
.md-objects .md-object.md-layer-9-25-1 {
z-index: 997 !important; border-top: 2px solid #ff3300;
 border-bottom: 2px solid #ff3300;
}
.md-objects .md-object.md-layer-9-25-2 {
z-index: 998 !important; color: #ffffff !important;
 text-align: center;
 font-size: 1.3333333333333em;
 font-family: "Open Sans";
}
.md-objects .md-object.md-layer-9-25-3 {
z-index: 999 !important; color: #ffffff !important;
 text-align: center;
 font-size: 3.3333333333333em;
 font-weight: 700;
 font-family: "Open Sans";
}
.md-objects .md-object.md-layer-9-25-4 {
z-index: 1000 !important; color: #ffffff !important;
 text-align: center;
 font-size: 1.3333333333333em;
}
.md-objects .md-object.md-layer-9-28-0 {
background: #000000;
 z-index: 2 !important;}
.md-objects .md-object.md-layer-9-28-1 {
z-index: 2 !important; border-top: 2px solid #ff3300;
 border-bottom: 2px solid #ff3300;
}
.md-objects .md-object.md-layer-9-28-2 {
z-index: 2 !important; color: #ffffff !important;
 text-align: center;
 font-size: 1.3333333333333em;
 font-family: "Open Sans";
}
.md-objects .md-object.md-layer-9-28-3 {
z-index: 2 !important; color: #ffffff !important;
 text-align: center;
 font-size: 3.3333333333333em;
 font-weight: 700;
 font-family: "Open Sans";
}
.md-objects .md-object.md-layer-9-28-4 {
z-index: 2 !important; color: #ffffff !important;
 text-align: center;
 font-size: 1.3333333333333em;
}
.md-objects .md-object.md-layer-9-29-0 {
background: #000000;
 z-index: 2 !important;}
.md-objects .md-object.md-layer-9-29-1 {
z-index: 2 !important; border-top: 2px solid #ff3300;
 border-bottom: 2px solid #ff3300;
}
.md-objects .md-object.md-layer-9-29-2 {
z-index: 2 !important; color: #ffffff !important;
 text-align: center;
 font-size: 1.3333333333333em;
 font-family: "Open Sans";
}
.md-objects .md-object.md-layer-9-29-3 {
z-index: 2 !important; color: #ffffff !important;
 text-align: center;
 font-size: 3.3333333333333em;
 font-weight: 700;
 font-family: "Open Sans";
}
.md-objects .md-object.md-layer-9-29-4 {
z-index: 2 !important; color: #ffffff !important;
 text-align: center;
 font-size: 1.3333333333333em;
}