<div {{ attributes }}>
  {{ title_suffix }}
  <div class="text-con-n  low-back-up">
    <div class="container">
      <div class="row">
        <div class="lead col-lg-8 col-md-offset-2 col-sm-offset-0 col-xm-offset-0 col-xm-12 text-center">
          <div class="bzsimplenews newsletter text-center">
            <h3 class="white">{{ label }}</h3>
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>