<div{{ attributes }}>
	
  <div class="container">
    {{ content['#block_content'].field_title.value|raw }}
    <div class="col-md-6">
      {{ content.body }}
    </div>
    <div class="col-md-6 c-2">
      <div class="section-title center">
      </div>
      {{ content.field_contact_form }}
    </div>
  </div>
</div>





