<div class="media">
  <div class="media-body">
    <div class="well well-lg">
      <p class="media-comment">
      	<h4>{{ author }}</h4>
        {{ content.comment_body }}
      </p>
      {{ content.links }}
    </div>              
  </div>
</div>